<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.my.demo"/>
    <!--开启aop自动代理-->
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <!-- 为集成安全部配置文件加解密组件, 需在项目中所有的PropertySourcesPlaceholderConfigurer配置上ignoreUnresolveablePlaceholders为true -->
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <!-- 这里放置其他配置文件, 如果没有, 可以不写 -->
                <value>classpath:datasource-config.properties</value>
            </list>
        </property>
    </bean>
    <!--引入多文件  模块开发-->
    <import resource="spring-config-manager.xml"/>
    <!--<import resource="spring-config-dao.xml"/>-->
    <!--<import resource="spring-config-datasource-dbcp.xml"/>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${plugin-cente.jdbc.driver}"/>
        <property name="url" value="${plugin-cente.jdbc.url}"/>
        <property name="username" value="${plugin-cente.jdbc.username}"/>
        <property name="password" value="${plugin-cente.jdbc.password}"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>


</beans>