<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop">
    <context:property-placeholder location="classpath:*.properties" />
    <bean  class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <!-- 否忽略找不到的属性. -->
        <!--<property name="ignoreResourceNotFound" value="true"/> -->
        <!-- ignoreUnresolvablePlaceholders为是否忽略不可解析的Placeholder，如配置了多个PropertyPlaceholderConfigurer，则需设置为true -->
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <!-- order属性代表其加载顺序  value数字越小越先加载 -->
        <property name="order" value="1"/>

        <property name="locations">
            <list>
                <!-- 这里放置其他配置文件, 如果没有, 可以不写 -->
                <value>classpath:datasource-config.properties </value>
            </list>
        </property>
    </bean>
    <context:component-scan base-package="com.my"/>
    <!--启用spring的一些annotation -->
    <context:annotation-config/>

     <!--配置注解驱动 可以将request参数与绑定到controller参数上 -->
    <mvc:annotation-driven/>

    <!--开启aop自动代理-->
    <aop:aspectj-autoproxy/>



    <!--引入多文件  模块开发-->
    <import resource="spring-config-dao.xml"/>
    <!--<import resource="spring-config-datasource-${plugin-cente.jdbc.datasource.type}.xml"/>-->
    <import resource="spring-config-datasource-dbcp.xml"/>
    <import resource="spring-config-manager.xml"/>


</beans>